/* {
	border: 1px solid red !important;
}*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Droid Sans', sans-serif;
	margin: 0px;
}

#menu {
	display: inline-block;
	background-color: black;
	height: 30px;
	padding-left: 0;
	padding-right: 0;
	height: 40px;
}

#container {
	max-width: 1024px;
	min-width: 313px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-left: 10px;
}

#nav {
	background-color: black;
	padding: 0;
	padding-top: 10px;
	height: 100px;
	justify-content: center;
}

.header-divider {
	background-color: black;
}

hr {
	border-style: solid;
	border-width: 1px;
	border-color: #FF5938;
	margin: 0;
	margin-left: 20px;
	margin-right: 20px;
}

.menu-list {
	text-align: center;
	margin: 0;
	padding: 0;
}

.align-right {
	text-align: right;
}

.menu-item {
	color: white;
	display: inline-block;
	font-size: 18px;
	padding-right: 16px;
	padding-left: 16px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.menu-item:hover {
	background-color: #ff5938;
	cursor: pointer;
}

.row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.heading-logo-image {
	vertical-align: middle;
	max-height: 90px;
}

.athlete-quote {
   position: absolute;
   top: 15px;
   left: 10px;
   width: 70%;
   text-align: justify;
   font-size: 18px;
   line-height: 39px;
}

.spacer {
   padding:0 5px;
}

.quote {
	color: white;
	font-weight: 400;
	padding: 10px;
}

.attribute {
	font-size: 14px;
	font-style: oblique;
}

.content-text {
	left: 10px;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 30px;
	text-align: justify;
}

.heading-logo-image,
.logo-div {
	max-width: 55px;
}

.img-responsive {
	max-width: 100%;
}

.image {
	width: 100%;
}

.logo-heading {
	padding-top: 10px;
}

.logo-text {
	font-size: 60px;
	letter-spacing: 3px;
	margin-bottom: 0px;
}

.logo-first-word {
	font-weight: 700;
	color: white;
}

.logo-last-word {
	font-weight: 400;
	color: #FF5938;
}

#main {
	padding: 0;
}

.image-wrapper {
	position: relative;
	width: 100%;
	max-width: 1004px;
}

.col-lg-05 {
	width: 4.16%;
}

.col-lg-1 {
	width: 8.33%;
}

.col-lg-2 {
	width: 16.66%;
}

.col-lg-3 {
	width: 25%;
}

.col-lg-4 {
	width: 33.33%;
}

.col-lg-5 {
	width: 41.66%;
}

.col-lg-6 {
	width:	50%;
}

.col-lg-7 {
	width: 58.33%;
}

.col-lg-8 {
	width: 66.66%;
}

.col-lg-9 {
	width: 75%;
}

.col-lg-10 {
	width: 83.33%;
}

.col-lg-11 {
	width: 91.66%;
}

.col-lg-12 {
	width: 100%;
}

@media only screen and (max-width: 1024px) {
	#container {
		padding-left: 0px;
		padding-right: 0px;
	}

	#nav {
		padding-right: 10.5px;
		padding-left: 10.5px;
	}

	.image-wrapper {
		max-width:1024px ;
	}

	.content-text {
		margin-left: 20px;
		margin-right: 20px;
	}

}

@media only screen and (max-width 414px)
